<div class="text-container">
<h1>PREPARE TO BE THUNDERSTRUCK!</h1>

 <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>

<% if logged_in? -%><h2>Welcome, <%= current_user.name %></h2><br>
  <%= form_for :game, url: '/games' do |f| %>
    <%=f.submit "Create New Game"%>
  <%end%>
    <%= link_to "Logout", new_session_path, method: :delete %>
<% else %>

<%= link_to "Login!", new_session_path%>
<br>
<p>or</p>
<br>
<%= link_to "Register!", new_user_path%>
<br><br>
<% end %>
<% if @games.length == 0  %>
	<p>DO YOU EVEN THUNDERSTRIKE BRUH?</p>
	<% else %>
<h2> CHOOSE YOUR FATE</h2>
<% @games.each do |game| %>
<button><a href= "games/<%=game.id%>">Game: <%=game.id%></a></button>
<% end %>
<% end %>
</div>

